@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-table-cell {
  padding: 6px !important;
}
.taskform-input-group > * {
  width: 46%;
}

.ant-table-thead input {
  /* width: max-content !important; */
}
.ant-table-cell-row-hover {
  background-color: lightblue !important;
}
/* .ant-table-row.ant-table-row-level-0 {
  background-color: red !important;
} */

/* Change color when hovered */
.ant-table-cell-row-selected.ant-table-cell-row-hover {
  background-color: gray !important;
}

/* Change color when selected */
/* .ant-table-cell-row-selected:not(.ant-table-cell-row-hover) {
  background-color: red !important;
} */

/* :where(.ant-table-row).ant-table-cell-row-hover {
  background-color: green !important ;
} */

:where(.ant-table-row) .ant-table-cell-row-hover {
  background-color: red;
}
