@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-table-wrapper .ant-table-tbody > tr > td {
  transition: background 6s, border-color 6s;
}

.ant-table-cell {
  padding: 6px !important;
}

.taskform-input-group input {
  /* width: 120%; */
}
.taskform-input-group > * {
  width: 46%;
}
